body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    position: relative;
    background-color: #f8f9fa;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.block {
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 2rem 0;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem
}

.logo {
    width: 40px;
    height: 40px;
}

nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

.skip-link{
    display: none;
}

main {
    width: 100%;
    max-width: 100%;
}

.heroblock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    width: 95%;
    padding: 1rem 0.5rem;
    text-align: justify;
}

.wrapper {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    max-width: 100%;
    min-width: 280px;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.discription_card {
    font-size: 1rem;
    font-weight: normal;
}

.img {
    max-width: 100%;
    height: auto;
}

.aboutblock {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
}

.textaboutblock {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 2;

}

.portret {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    grid-row: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.contsctinfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

footer a {
    text-decoration: none;
}

.styleform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.styleform label{
   width: 100%; 
    font-size: medium;
}

.styleform input{
   max-width: 100%;
   width: 100%;  
   padding: 1rem 0;
   border-radius: 8px;
   text-align: center;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox input{
    width: 15px;
    height: 15px;
}

.btn{
    padding: 1rem 0;
    background-color: rgba(105, 105, 105, 0.24);
    font-size: medium;
    border-radius: 8px;
}

.error{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.548);
    padding: 0.2rem;
}



@media (min-width: 768px) {}


@media (min-width: 1024px) {
    h1 {
        font-size: 2.8rem;
    }

    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .textaboutblock {
        grid-row: 1;

    }

    .portret {

        grid-row: 1;
    }

    nav {
        gap: 1.5rem;
    }

    nav a {
        font-size: 1.75rem;
    }

    .styleform{
        width: 60%;
    }

}