body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    position: relative;
    background-color: #f8f9fa;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem
}

nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

nav a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

.wrapper {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    max-width: 100%;
    min-width: 250px;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.discription_card {
    font-size: 1rem;
    font-weight: normal;
}

.img{
    max-width: 100%; 
    height: auto;
}


@media (min-width: 768px) {
    .wrapper {
        display: flex;
        flex: 1 1 45%;
    }

    .card {
        width: 50%;
        max-width: 50%;
        min-width: 0;
        flex-grow: 1
    }
}


@media (min-width: 1024px) {
    h1 {
        font-size: 2.8rem;
    }

    .wrapper {
        flex-wrap: nowrap;
        flex: 1 1 300px;
    }

    nav {
        gap: 1.5rem;
    }

    nav a {
        font-size: 1.75rem;
    }

}