body{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

section{
    margin: 0 1rem;
}

p{
    margin: 0 1rem;
}

ul, ol{
    padding-left: 1.5rem;
    margin-bottom: 0.5rem
}

a{
    color: #1e90ff;
    text-decoration: none;
}

a:hover{
    color: #1e90ff;
    text-decoration: underline;
}

em{
    background: #fff9c4
}

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem
}